@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #64BA54;
  --primary-hover: #449C32;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #FFF;
}

body {
    font-size: 14pt !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu' !important;
    font-weight: 700 !important;
}

p {
    font-family: 'Ubuntu' !important;
    font-weight: 400 !important;
    font-size: 14pt !important;
}

a {
    font-family: 'Ubuntu' !important;
    font-weight: 400 !important;
    font-size: 14pt !important;
    color: #64BA54;
}

a:hover {
    color: #449C32;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.page-header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #efefef;
}

.page-header hgroup h1 a {
    font-size: 30pt !important;
    font-weight: 500 !important;
    margin-bottom: 0.125em;
}

.page-header hgroup h2 {
    font-size: 14pt !important;
    font-weight: 400 !important;
}

.userful-links div {
    margin: 0.25em 1em;
    justify-content: center;
}

.userful-links div a {
    padding: 0.25em;
}

main h1 {
    font-size: 24pt !important;
    font-weight: 400 !important;
    margin-bottom: 1em !important;
}

main h1 a {
    font-size: 24pt !important;
    margin-bottom: 1em !important;
}

main h2 { 
    font-size: 14pt !important;
    font-weight: 500 !important;
    margin-bottom: 1em !important;
}

main .tag {
    background: #64BA54;
    margin-bottom: 1em;
}

hr {
    height: 2pt !important;
}

footer p {
    font-size: 10pt !important;
}

footer p a {
    font-size: 10pt !important;
}