@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #43a047;
  --primary-hover: #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #FFF;
}

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #43a047;
    --primary-hover: #4caf50;
    --primary-focus: rgba(67, 160, 71, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #43a047;
  --primary-hover: #4caf50;
  --primary-focus: rgba(67, 160, 71, 0.25);
  --primary-inverse: #FFF;
}

/* Green (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --font-family: 'Ubuntu', sans-serif;
  --font-size: 14pt
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
    color: #4caf50;
}

a:hover, a:focus {
    text-decoration: none;
}

.page-header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #efefef;
}

.page-header hgroup h1 a {
    font-family: 'Comfortaa', 'Ubuntu', sans-serif;
    font-size: 30pt;
    font-weight: 700;
    margin-bottom: 0.125em;
}

.page-header hgroup h2 {
    font-size: 14pt;
    font-weight: 400;
}

.page-header li a {
    font-family: 'Comfortaa', 'Ubuntu', sans-serif;
    font-weight: 700;
}

.userful-links div {
    margin: 0.25em 1em;
    justify-content: center;
}

.userful-links div a {
    padding: 0.25em;
}

main h1 {
    font-family: 'Comfortaa', 'Ubuntu', sans-serif;
    font-size: 24pt;
    font-weight: 700;
    margin-bottom: 1em;
}

main h2 { 
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 1em;
}

main h2 span {
    margin-right: 0.5em;
}

main .tag {
    background: #64BA54;
    margin-bottom: 1em;
}

hr {
    height: 2pt;
}

footer p {
    font-size: 10pt;
}