@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary: #64BA54;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #efefef;
}

a {
    color: #64BA54;
}

section>h1, section>h2, section>h3, section>h4, section>h5, section>h6 {
    font-weight: 400;
}

section>p {
    font-size: 17px;
}

.page-header {
    padding-top: 1em;
    padding-bottom: 1em;
}